#text-center {
    margin-top: 8px;
    text-align: center;
    font-size: 17px;
}

#text2-center {
    text-align: center;
    font-size: 14px;
}

#text3-center {
    text-align: center;
    font-size: 14px;
}

#containerMain {
    height: 60px;
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
}

#containerMain2 {
    background-color: #669933;
    width: 95%;
}

#containerSecond {
    background-color: green;
    width: auto;
    text-align: center;
}

#textControl {
    color: white;
    font-size: 14px;
    margin-left: 11px;
    margin-top: 19px;
}

#iconAsistencias {
    fill: #669933;
    margin-top: 5px;
}

#containerRetardo {
    background-color: orange;
    width: 95%;
}

#containerRetardo2 {
    background-color: orangered;
    width: auto;
    text-align: center;
}

#iconRetardos {
    fill: orange;
    margin-top: 5px;
}

#containerFalta {
    background-color: rgb(225, 61, 61);
    width: 95%;
}

#containerFalta2 {
    background-color: rgb(169, 16, 16);
    width: auto;
    text-align: center;
}

#iconFaltas {
    fill: rgb(225, 61, 61);
    margin-top: 5px;
}
