<div>
    <h4 id="text-center">Bachillerato Técnico No.</h4>
    <h6 id="text2-center">Matemáticas</h6>
    <h6 id="text3-center">Grupo 3°</h6>
    <hr id="line">

    <div class="d-flex flex-row bd-highlight mb-4" id="containerMain">
        <div class="flex-fill bd-highlight" id="containerMain2">
            <p id="textControl">Missael Peralta Arciniega</p>
        </div>
        <div class="flex-fill bd-highlight" id="containerSecond">
            <svg xmlns="http://www.w3.org/2000/svg" height="36px" viewBox="0 0 24 24" width="36px" id="iconAsistencias"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"/></svg>
        </div>
    </div>

    <div class="d-flex flex-row bd-highlight mb-4" id="containerMain">
        <div class="flex-fill bd-highlight" id="containerMain2">
            <p id="textControl">Missael Peralta Arciniega</p>
        </div>
        <div class="flex-fill bd-highlight" id="containerSecond">
            <svg xmlns="http://www.w3.org/2000/svg" height="36px" viewBox="0 0 24 24" width="36px" id="iconAsistencias"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"/></svg>
        </div>
    </div>

    <div class="d-flex flex-row bd-highlight mb-4" id="containerMain">
        <div class="flex-fill bd-highlight" id="containerRetardo">
            <p id="textControl">Missael Peralta Arciniega</p>
        </div>
        <div class="flex-fill bd-highlight" id="containerRetardo2">
            <svg xmlns="http://www.w3.org/2000/svg" id="iconRetardos" enable-background="new 0 0 24 24" height="36px" viewBox="0 0 24 24" width="36px" fill="#000000"><g><rect fill="none" height="24" width="24" x="0"/></g><g><g><path d="M12,2C6.5,2,2,6.5,2,12s4.5,10,10,10s10-4.5,10-10S17.5,2,12,2z M12,20c-4.41,0-8-3.59-8-8s3.59-8,8-8s8,3.59,8,8 S16.41,20,12,20z M12.5,7H11v6l5.2,3.2l0.8-1.3l-4.5-2.7V7z"/></g></g></svg>
        </div>
    </div>

    <div class="d-flex flex-row bd-highlight mb-4" id="containerMain">
        <div class="flex-fill bd-highlight" id="containerRetardo">
            <p id="textControl">Missael Peralta Arciniega</p>
        </div>
        <div class="flex-fill bd-highlight" id="containerRetardo2">
            <svg xmlns="http://www.w3.org/2000/svg" id="iconRetardos" enable-background="new 0 0 24 24" height="36px" viewBox="0 0 24 24" width="36px" fill="#000000"><g><rect fill="none" height="24" width="24" x="0"/></g><g><g><path d="M12,2C6.5,2,2,6.5,2,12s4.5,10,10,10s10-4.5,10-10S17.5,2,12,2z M12,20c-4.41,0-8-3.59-8-8s3.59-8,8-8s8,3.59,8,8 S16.41,20,12,20z M12.5,7H11v6l5.2,3.2l0.8-1.3l-4.5-2.7V7z"/></g></g></svg>
        </div>
    </div>

    <div class="d-flex flex-row bd-highlight mb-4" id="containerMain">
        <div class="flex-fill bd-highlight" id="containerFalta">
            <p id="textControl">Missael Peralta Arciniega</p>
        </div>
        <div class="flex-fill bd-highlight" id="containerFalta2">
            <svg xmlns="http://www.w3.org/2000/svg" id="iconFaltas" height="36px" viewBox="0 0 24 24" width="36px" fill="#000000"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z"/></svg>
        </div>
    </div>

    <div class="d-flex flex-row bd-highlight mb-4" id="containerMain">
        <div class="flex-fill bd-highlight" id="containerFalta">
            <p id="textControl">Missael Peralta Arciniega</p>
        </div>
        <div class="flex-fill bd-highlight" id="containerFalta2">
            <svg xmlns="http://www.w3.org/2000/svg" id="iconFaltas" height="36px" viewBox="0 0 24 24" width="36px" fill="#000000"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z"/></svg>
        </div>
    </div>



</div>
